@media only screen and (min-widht: 38rem){

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }


.hamburger {
    display: none;

}

}